@font-face
  font-family: "Raleway Medium"
  src: url("./../fonts/Raleway-Medium.ttf")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Raleway Regular"
  src: url("./../fonts/Raleway-Regular.ttf")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Raleway ExtraLight"
  src: url("./../fonts/Raleway-ExtraLight.ttf")
  font-weight: normal
  font-style: normal

body
  font-family: 'Relaway Regular'
  color: #565656

h1
  margin-bottom: 40px
  font-family: 'Raleway Medium'
  font-size: 40px
  text-align: center
  color: #252525

h3
  padding: 20px 0
  font-family: 'Raleway Medium'
  font-size: 19px
  color: #888

p
  font-family: 'Raleway Regular'
  font-size: 16px

*
  outline: none

.my-navbar
  position: relative
  width: 80%
  margin: 0 auto
  padding: 5px 0
  &__main-logo
    width: 250px
  &__action-btn
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-50%)
    padding: 12px 20px
    font-family: 'Raleway Medium'
    font-weight: 900
    font-size: 16px
    color: #fff
    text-transform: uppercase
    border-radius: 3px
    background-color: #6fa4d7
    border-color: #111
    &:hover
      color: #fff
      background: #111
      text-decoration: none

.main-pic
  position: relative
  width: 100%
  padding: 200px 10%
  margin: 0px auto
  background-color: #111
  background: linear-gradient(90deg, #111 45%, transparent 100%), url("./../img/progress-photo.png")
  background-position: right
  background-size: contain
  &__main-title
    font-family: "Raleway ExtraLight"
    font-size: 75px
    color: #888
    text-align: left
  &__donate-us
    font-family: "Raleway ExtraLight"
    color: #888
    font-size: 45px
    &:hover
      color: #ccc
      text-decoration: none
      cursor: pointer

.my-btn
  padding: 12px 20px
  font-size: 12px
  border-radius: 3px
  background-color: #111
  border-color: #111
  color: #fff

.why-progressbar
  position: relative
  width: 70%
  margin: 0 auto
  padding: 100px 0
  &__icons
    padding-bottom: 40px
    &__icon
      position: relative
      padding: 50px 100px

.icons
  position: absolute
  left: 0
  top: 10px
  width: 150px
  height: 150px
  z-index: -1

.support
  width: 100%
  padding: 100px 10%
  margin: 0px auto
  background-color: #f7f7f7
  &__crypto
    padding: 20px 0 40px
    &__box
      padding: 45px
      margin: 0 25px
      background-color: white
      border: 1px solid #eee
      border-radius: 8px
      text-align: center

.paybysquare
  width: 200px

.fiat
  width: 80%
  margin: 0 auto

.donation-things
  width: 100%
  padding: 100px 10%
  margin: 0px auto
  background-color: #111
  &__icons
    text-align: center
    padding: 20px 0
  &__buttons
    text-align: center
    font-family: 'Raleway Regular'
    &__btn
      height: 50px
      padding: 0px 40px
      margin-right: -5px
      font-size: 18px
      color: #333
      font-family: 'Raleway Regular'
      border: 1px solid #333
      border-radius: 3px
      background-color: #f7f7f7
      &:hover
        box-shadow: 0 3px 13px rgba(0, 0, 0, 0.22)

input[type="text"]
  width: 60px
  font-family: 'Raleway Regular'
  text-align: right

  &__icons
    padding: 80px 0
    text-align: center
    &__title
      padding: 20px 0
      color: #888

.active
  background-color: #333
  color: white
  border-color: #333

.title-white
  color: #888

.donation-icons
  width: 150px
  height: 150px
